span.no-break {
	white-space: nowrap;
}
.expander {
	margin: 0;
	cursor: pointer;
}
.expander:hover {
	background-color: #eee;
}
.expandable {
	margin: 0;
	border: dotted 1px;
}
.options {
	margin: 10px 10px 0;
}
#results {
	text-align: center;
}
.data {
	display: none;
}