table.scroll {
	width: 100%;
	border-spacing: 0;
	text-align: center;
	border: solid 1px;
}
table.scroll tbody, table.scroll thead tr {
	display: block;
}
table.scroll tbody {
	height: 100px;
	overflow-y: auto;
	overflow-x: hidden;
}
table.scroll tbody td, table.scroll thead th {
	width: 125px;
	border-right: solid 1px;
	border-bottom: solid 1px;
}
table.scroll input[type="image"] {
	max-width: 2ch;
}