#sig {
	position: fixed;
	top: 0; left: 0; right: 0;
	line-height: 22px;
	padding: 10px;
	text-align: center;
	background: #555;
	color: white;
	font-size: 14px;
	font-family: Verdana, sans-serif;
}
#sig a {
	display: inline-block;
	border-bottom: 1px solid #bdf;
	text-decoration: none;
}
#sig a:hover {
	border-bottom-style: dashed;
}
#sig a, #sig a:visited {
	color: #bdf;
}
/* definition of anchors to jump to
 * respecting the signature's (normal) height */
a.anchor {
	display: block;
	position: relative;
	top: -42px;
	visibility: hidden;
}
